@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');




*{
    margin: 0;
    box-sizing: border-box;

}

a{
    text-decoration: none;
    color: #ffffff;
}

div svg{
     fill: #fff;
}
.fixed-bar a{
    color: rgb(27, 128, 252);
}

 div .color{
    color: rgba(27, 128, 252, 0.377);
}

body{
    background-color:rgba(242, 247, 253, 1);
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
}

.fixed-container{
    background-color: rgba(81, 169, 193, 1);
    
    width: 100%;
    height: 70px;
    margin-inline: auto;
    padding-inline: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;

}

.fixed-bar{
    background-color:rgba(255, 255, 255, 1);
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-inline: auto;
    gap: 15px;
    margin-bottom: 100px;
    position: sticky;
}

img{
    border-radius: 50%;
}

.right-container{
    float: left;
    margin-bottom: 10px;
}

.left-container{
    float: right;
}

.form-field{
    padding-inline: 25px;
}


fieldset {
    padding: 2rem 1rem;
    border: none;
    
  }

form {
    width: 500px;
    /* max-width: 1000px;
    min-width: 300px; */
    margin: 0 auto;
    padding-bottom: 2em;
    padding-top: 2em;
    background-color: #ffffff; /* White background for the form */
    border:  none; /* Subtle border */
    border-color: #ffffff;
    border-radius:1px;
    box-shadow: 0 0 3px  rgb(255, 255, 255);
  }
  
  label {
    display: block;
    margin: 1rem 0;
  }

  input,
  textarea,
  select {
    margin: 10px 0 0 0;
    width: 100%;
    min-height: 2em;


    
  }

  .form-container{
    clear: both;
    margin-right: 1050px;
    padding-inline: 25px;
   
  }
  

  input[type="button"] {
    display: block;
    
    background-color: green;
    color: white;
    border-color: green 0px ;
    padding: 8px;
  }

  .item-heading{
    display: flex;
  }
 
  .item-content{
    display: flex;
    flex-direction: column;
  }

  p{
    display: inline;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    width: 800px;
  }

   tr {
    /* border: 1px solid black; */
    /* border-color: #ffffff; */
    /* box-shadow: 0 0 3px  rgb(255, 255, 255); */
    background-color: #fff;
    border-color: rgba(242, 247, 253, 1);
  }

  th, td {
    padding: 10px;
    text-align: center;
  }

  th {
    background-color:rgba(242, 247, 253, 1);
  }

   tr{
    margin-block: 500px;
  }

  #order-button {
    background-color: rgba(240, 140, 125, 1);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

table .amt{
  color: rgba(240, 140, 125, 1);
}

table .qty{
  color:  rgba(27, 128, 252);
}


th:nth-child(1), td:nth-child(1)
 {
  width: 20%; /* Set the width for columns 1 and 2 */
  text-align:left;
}

th:nth-child(2), td:nth-child(2){
  width: 5%; /* Set the width for columns 1 and 2 */
  text-align:left;
  text-wrap: nowrap;
}

th:nth-child(3), td:nth-child(3) {
  width: 72%; /* Set the width for the third column to be wider */
  text-align: right;
}

th:nth-child(4), td:nth-child(4) {
  width: 3%; /* Set a smaller width for the fourth column */
}

td svg{
  background: gray;
  fill: #ffffff;
  width: 100%;
}

@media (min-width: 480px) {
      body{
        font-size: 0.5rem;
      }

      .fixed-container{
        font-size: 5px;
        width: 100%;
        max-width: 100%;
        height: 35px;
        font-size: 0.7rem;
        margin-inline: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: sticky;
    
    }
    

    .fixed-bar{
      width: 100%;
      max-width: 100%;
      height: 35px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-inline: auto;
      font-size: 0.6rem;
      gap: 5px;
      margin-bottom: 50px;
      position: sticky;
  }


  .form-field{
    width: 75%;
    max-width: 480px;
    display: block;
    margin-inline: auto;
  

  
  }

  img{
    width: 150px;
    height: 150px;
    float: none;
  }


  .right-container{
    float: none;
    max-width: 480px;
    display: flex;
    justify-content: center;
    float: none;
  }

  .left-container{
    display: flex;
    justify-content: center;
    float:none;
    position: relative;
    top: 300px;
    
    
  }
  

  .form-container{
    margin-inline: auto;
    margin-top: 50px;
    position: relative;
    top: -270px;
  }
    

  form{
    width:300px;
    margin-inline: auto;
    float: none;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
    font-size: 0.7rem;
  }

  #order-button {
    padding: 3px 5px;
    font-size: 10px;
  
  }



}


@media (min-width : 767px) {


  .fixed-container{
    font-size: 5px;
    width: 100%;
    max-width: 100%;
    height: 45px;
    font-size: 0.7rem;
    margin-inline: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;

}


.fixed-bar{
  width: 100%;
  max-width: 100%;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-inline: auto;
  font-size: 0.65rem;
  gap: 5px;
  margin-bottom: 50px;
  position: sticky;
}



.form-field{
  width: 85%;
  max-width: 720px;
  display: block;
  margin-inline: auto;



}


  img{
    width: 250px;
    height: 250px;
    float: none;

  }


  form{
    width:600px;
    margin-inline: auto;
    float: none;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
    font-size: 0.7rem;
  }

  .right-container{
    margin: auto;
    margin-bottom: 25px;
  }

}


@media (min-width:1024px) {

  .fixed-container{
    font-size: 5px;
    width: 100%;
    max-width:100%;
    height: 55px;
    font-size: 0.78rem;
    margin-inline: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;

}


.fixed-bar{
  width: 100%;
  max-width: 100%;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-inline: auto;
  font-size: 0.78rem;
  gap: 16px;
  margin-bottom: 50px;
  position: sticky;
}


.form-field{
  width: 100%;
  max-width: 100%;
  font-size: 0.8rem;



}


  img{
    width: 300px;
    height: 300px;
  }


  form{
    width:800px;
    margin-inline: auto;
    float: none;
    padding-bottom: 0.7em;
    padding-top: 0.7em;
    font-size: 0.8rem;
  }
  
  .right-container{
    float: left;
    margin-bottom: 10px;
    margin-bottom: 40px;
}

.left-container{
    float: right;
    position: static;
}
  .form-container{
    position: static;
    margin-right: 800px;

    
  }



  #order-button {
    padding: 5px 5px;
    font-size: 14px;
  
  }

}



